include digital_thought_commons/_resources/api_responses/*
include digital_thought_commons/_resources/elasticsearch/component_templates/*
include digital_thought_commons/_resources/elasticsearch/index_templates/*
include digital_thought_commons/_resources/elasticsearch/lifecycles/*
include digital_thought_commons/_resources/grok/*
include digital_thought_commons/_resources/logging/*
include digital_thought_commons/_resources/microsoft/excel/*
include digital_thought_commons/_resources/sample_configs/*
include digital_thought_commons/version